body {
  font-family: sans-serif;
}

.second {
  color: green;
}

#assignment-instructions {
  color: #5624d0;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

li + li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
}
